html,body,ul,li,p,div{padding:0;margin:0;font-size:12px;}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto;}
.icon{
	margin-left:0;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	float: left;
	display:block;
}
.request{width: 800px;height:80px;overflow: hidden;margin:0 auto;}
.show{width: 800px;overflow: hidden;margin:0 auto;}
.request p{display:block;width: 800px;height: 20px;}
.request input{display:block;height:25px;float:left;}
.requestRe{display:block;width: 70px;height: 20px;float:right;}
.parametersSetting{
	position: absolute;
	z-index: 1001;
	top:45px;
	left:5px;
	width:350px;
	max-height:420px;
	padding:10px;
	border:solid 1px #a5a5a5;
	background-color: #DDDDDD;
	font-size: 12px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.parametersName{
	float: left;
	width:100px;
	height:30px;
	padding:0px 10px 0px 10px;
	font-weight: bold;
	text-align: right;
	line-height: 30px;
}
.checkBox{
	float: left;
	width:100px;
	height:30px;
	padding:0px 10px 0px 10px;
	font-weight: bold;
	text-align: right;
	line-height: 30px;
}
.grid-search-btns-container,.grid-setting-btns-container{
	padding:10px;
	border-top:solid 5px #BBBBBB;
	background-color: #CCCCCC;
	text-align: right;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
}